{% extends 'base.html.twig' %}
{% block body %}
    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('event_new') }}">Create new event</a>

            {#Verificação para saber se o usuario esta logado#}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="button" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="button" href="{{ path('login_form') }}">Login</a>
            {% endif %}
        </header>
        {{ render(controller('EventBundle:Event:_upcomingEvents')) }}
    </section>
{% endblock %}